# Ignore everything
*
last_time*
markov/*

# But not these files...
!.gitignore
!triggered.png
!spongebob_eye.png
!small_eye.png
!red_eye.png
!monocle_eye.png
!money_eye.png
!megatron.jpg
!impact.ttf
!illuminati_eye.png
!hydra_large.gif
!hydra.gif
!hitler.jpg
!googly_eye.png
!eyes_wc.png
!eyes.svg
!eye_flipped.png
!eye.png
!courier.ttf
!cour.ttf
!cancer.gif
!brazzers.png
!bloodshot_eye.png
!big_eye.png
!b1.png
!ammo.json
!FreeMonoBold.ttf
